.container{
    display: grid;
    grid-template-columns: repeat(5,400px);
    grid-template-rows: 600px;
    gap: 100px;
   
    
    
}
.card{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.price{
    display: flex;
    justify-content: space-evenly;
}